#headerAndSearch {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 0;
	padding: 0 2em;
}

#searchGroup {
	margin: auto;
	max-width: 90%;
	margin-top: 2em;
	margin-left: 0;
}

#searchBar {
	display: flex;
	flex-direction: center;
	margin-bottom: 20px;
}

.filter {
	display: flex;
	flex-direction: center;
	flex-wrap: wrap;
	gap: 1em;
	margin-bottom: 20px;
}

#filter {
	border-radius: 30px;
}
